@model IEnumerable<DTO.Evenement>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/Evenement/" class="nav-link">Organisator</a></li>
        <li class="nav-item"><a href="/Registratie" class="nav-link active" aria-current="page">Aanmelden</a></li>
    </ul>
</header>

<h2>Evenementen</h2>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert("@TempData["SuccessMessage"]");
    </script>
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Datum</th>
            <th>Max. aantal bezoekers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evenement in Model)
        {
            <tr>
                <td>@evenement.ID</td>
                <td>@evenement.Naam</td>
                <td>@evenement.Datum.ToString("d")</td>
                <td>@evenement.MaximumAantalBezoekers</td>
                <td>
                    <form action="/Registratie/Registreren" method="get">
                        <input type="hidden" name="id" value="@evenement.ID" />
                        <input type="hidden" name="datum" value="@evenement.Datum.ToString("yyyy-MM-dd")" />
                        <input type="submit" value="Registreren" class="button" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>